.c-info {
  position: absolute;
  width: 100%;
  height: 56px;
  vertical-align: middle;
  opacity: 0;

  animation-name: fade;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {opacity: 0; transform: translate3d(0,-20px,0);}
  20% {opacity: 1; transform: translate3d(0,0,0);}
  80% {opacity: 1; transform: translate3d(0,0,0);}
  100% {opacity: 0; transform: translate3d(0,-20px,0);}
}
