.c-pageBtn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: #333;
  padding: 16px 8px;
  margin: 40px 60px;
  opacity: 1;
  &:hover {
    opacity: 0.4;
    text-decoration: none;
  }
}

.c-pageBack {
  margin-right: 20px;
}

.c-pageNext {
  margin-left: 20px;
}
