.p-contents {
  position: relative;
  width: 420px;
  min-height: 240px;
  padding: 16px;
  margin: 24px;
  border-radius: 1em;
  background: #fff;
  box-shadow: 5px 5px 5px #ccc;
  opacity: 0;
}


.isFadeinAnim {
  animation-name:fade-in;
  animation-duration:1s;
  animation-timing-function: ease-out;
  animation-iteration-count:1;
  animation-direction:normal;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {opacity: 0; transform: translate3d(0,30px,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}

.removeBtn {
  position: absolute;
  bottom: 4px;
  cursor: pointer;
  background: #f45242;
  border-radius: 10px;
  padding: 8px 16px;
  z-index: 10;
  opacity: 1;
  &:hover {
    opacity: 0.4;
  }
}

.editBtn {
  position: absolute;
  bottom: 4px;
  left: 88px;
  cursor: pointer;
  background: #42f47e;
  border-radius: 10px;
  padding: 8px 16px;
  z-index: 10;
  opacity: 1;
  &:hover {
    opacity: 0.4;
  }
}
